<div class="gallery-wrapper">
		<div class="gw--left">
			{{!-- <div class="gwl--header">Locations</div> --}}
			<div class="gwl--main">
                {{#each galleryImagesData as |imageData index|}}
                    {{#link-to imageData.url}}
                        <div class="gwl--card">
                            <img src="/assets/images/{{imageData.thumbnail}}">
                            <div class="gwl--caption">
                                <span data-active={{imageData.active}}>
                                {{imageData.title}}
                                </span>
                            </div>
                        </div>
                    {{/link-to}}
                {{/each}}
			</div>
		</div>
		<div class="gw--main">
            <div class="gw--main-wrapper">
                {{outlet}}
            </div>
		</div>
	</div>