<div class="level-up-container">
    <img src="/assets/images-for-memory-game/level-up.png" />
    <div class="lvc--head">
        <div>
            You have finished level {{gameLevel}} with 
        </div>
        <div class="lvc--points">
            {{accuracy}}%
        </div>
        <div>
            accuracy
        </div>
    </div>
</div>
<button onclick={{action "goToNextLevel"}} class="btn btn-primary btn-lg mt-5">Next level</button>