{{#if scrolledDown}}
    <div title="Scroll to top" class="scroll-to-top" onclick={{action 'scrollToTop'}}>
        <div class="stt__left"></div>
        <div class="stt__right"></div>
    </div>
{{/if}}