%card-wrapper{
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21) !important;
    .display-4{
        font-size: 20px;
    }
}

$z-depth-1 : 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) !important;

.poppins-font{
    font-family: 'Poppins';
}

*{
    box-sizing: border-box;
}

a:hover{
    text-decoration: none;
}

// @mixin media-query-function($property, $value) {
//     @media screen and (max-width:426px) {
//         #{$property} : #{$value};
//     }
// }

@mixin min-max-res($min, $max, $percentage){
    @if $max < $min{
      @error 'Max value cannot be smaller than Min value';
    }
    @else{
      width : $percentage !important;
      max-width: $max !important;
      min-width: $min !important;
    }
  }
  
  $breakpoints: (
    xs: 426px,
    md: 1072px,
    lg: 1368px
  );
  
  @mixin mq-fun($breakpoint){
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: $breakpoint-value) {
      @content;
    }
  }

  .hide{
    display: none !important;
  }