.container-fluid{
    padding: 0 8%;
    img{
        width:100%;
        min-height: 250px;
        box-shadow : 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
    @media screen and (max-width:426px) {
        padding: 0 15px;
    }
    .image-wrapper{
        margin: 10px 0;
        position: relative;
        cursor: pointer;
        user-select: none;
        &:before{
            content:"";
            width : 100%;
            height : 40px;
            bottom: 0;
            position: absolute;
            transition: .1s background ease-in;
        }
        &:after{
            content:"Click to see full image";
            position : absolute;
            opacity : 0;
            width: 60%;
            height:30px;
            line-height: 30px;
            text-align: center;
            left:20%;
            bottom:5px;
            font-size: 16px;
            font-family: 'Fira sans';
        }
        &:hover{
            &:before{
                background-color : rgb(255, 255, 255, 0.85);
            }
            &:after{
                opacity : 1;
            }
        }
        @media screen and (max-width:426px) {
            margin: 0;
            &:before, &:after{
                display: none;
            }
        }
    }
}

.grid-col{
    display: inline-flex;
    flex-flow: column wrap;
    padding: 0 10px;
}

.image-gallery-grid{
    margin-top: -100px;
    background-color: dimgray;
    .img-fluid{
        transition: all .25s ease-in-out;
        &:hover{
            cursor: pointer;
            //transform: rotate3d(1,0, 0, 15deg);
            -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
                    box-shadow: 0 10px 6px -6px #777;
        }
    }
    @media screen and (max-width:426px) {
        margin-top: 5px;
        .col-12{
            padding-left: 10px !important;
            padding-right: 10px !important;
            img{
                margin-bottom: 5px !important;
                margin-top: 5px !important;
            }
        }
    }
}
.modalBackdrop{
    position: fixed;
    transition: .25s background ease-in;
    width: 100%;
    height:100vh;
    z-index: 10;
    text-align: center;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.85);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    span{
        position: fixed;
        top:25px;
        right:25px;
        color: #fff;
        font-size:22px;
        cursor: pointer;
    }
}