.container-fluid.image-gallery-grid{
  padding: 0 8%;
  z-index: 3;
  @media screen and (max-width:426px) {
      padding: 0 15px;
  }
  .image-wrapper{
    img{
      width:100%;
      min-height: 250px;
      box-shadow : 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }
      margin: 10px 0;
      position: relative;
      cursor: pointer;
      user-select: none;
      &:before{
        content:"";
        width : 100%;
        height : 40px;
        bottom: 0;
        position: absolute;
        transition: .1s background ease-in;
    }
    &:after{
        content:"Click to see all images";
        position : absolute;
        opacity : 0;
        width: 60%;
        height:30px;
        line-height: 30px;
        text-align: center;
        left:20%;
        bottom:5px;
        font-size: 16px;
        font-family: 'Fira sans';
    }
      &:hover{
          &:before{
              background-color : rgb(255, 255, 255, 0.85);
          }
          &:after{
              opacity : 1;
          }
      }
      @media screen and (max-width:426px) {
          margin: 0;
          &:before, &:after{
              display: none;
          }
      }
  }
}

.grid-col{
  display: inline-flex;
  flex-flow: column wrap;
  padding: 0 10px;
  justify-content: space-between;
}

.image-gallery-grid{
  margin-top: -30vh;
  background-color: dimgray;
  .img-fluid{
      transition: all .25s ease-in-out;
      &:hover{
          cursor: pointer;
          //transform: rotate3d(1,0, 0, 15deg);
          -webkit-box-shadow: 0 10px 6px -6px #777;
          -moz-box-shadow: 0 10px 6px -6px #777;
                  box-shadow: 0 10px 6px -6px #777;
      }
  }
  @media screen and (max-width:426px) {
      margin-top: 5px;
      .col-12{
          padding-left: 10px !important;
          padding-right: 10px !important;
          img{
              margin-bottom: 5px !important;
              margin-top: 5px !important;
          }
      }
      & > .row {
          .grid-col{
              &:nth-child(1){
                  order: 2;
              }
              &:nth-child(2){
                  order:1;
              }
              &:nth-child(3){
                  order:3;
              }
          }
      }
  }
  
}
.modalBackdrop{
  position: fixed;
  width: 100%;
  height:100vh;
  z-index: 10;
  text-align: center;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.85);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: show-animation .25s ease-in;
  transition: .1s background-image ease-in;
  .mbd--img-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-repeat:  no-repeat;
    background-position: center center;
  }
  .swiper-container, .swiper-wrapper{
    height: 100%;
  }
}

.CSS-caret-icon-holder{
  position: fixed;
  top : calc(50% - 25px);
  width:100%;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  @include mq-fun(xs){
      display: none;
  }
}


.CSS-caret-icon__left, .CSS-caret-icon__right, .CSS-caret-icon__close{
  position : relative;
  width : 25px;
  height : 50px;
  cursor:pointer;
  transition : .1s transform ease-in;
  &::after, &::before{
    content : "";
    position : absolute;
    width : 25px;
    height : 5px;
    border-radius: 6px;
    background-color : #fff;
    left:0;
  }
}

.CSS-caret-icon__left, .CSS-caret-icon__right{
  &:active{
      transform:scale(0.75, 0.75);
    }
}

.CSS-caret-icon__left, .CSS-caret-icon__right, .CSS-caret-icon__close{
  &::after{
    transform : rotate(45deg);
  }
  &::before{
    transform : rotate(135deg);
  }
}

.CSS-caret-icon__left{
  &::after{
    top:50%;
  }
  &::before{
    top: calc(50% - 15px);
  }
}

.CSS-caret-icon__right{
  &::after{
    top: calc(50% - 15px);
  }
  &::before{
    top:50%;
  }
}

.CSS-caret-icon__close{
  position: fixed;
  top:25px;
  right:25px;
  z-index: 13;
}
.swiper-button-next, .swiper-button-prev{
  @include mq-fun(xs){
    display: none;
  }
}