.display-4,
.lead,
img {
  animation: show-animation .5s linear;
}

.jumbotron.header-jumbotron-wrapper-override {
  //position: fixed;
  //width:100%;
  height: 90vh;
  top: 0;
  transition: .1s ease-in all;
  padding: 0;
  z-index: 2;

  .container {
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-image: url(/assets/images/kanyakumari-wave.JPG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;

    .header-backdrop {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  * {
    transition: .25s ease-in all;
  }

  .header-content,
  .navbar {
    z-index: 2;
  }

  .header-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    pointer-events: none;

    .display-4 {
      font-family: "Lato";
      font-size: 6rem;
    }

    .display-4,
    .lead {
      color: #fff;
      text-shadow: 1px 0px 2px rgba(255, 255, 255, 0.5);
    }
  }

  &.shrink {
    .container {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    .lead {
      margin-bottom: 0;
      margin-left: 10px;
    }

    .display-4 {
      font-size: 3rem;
    }
  }

  @include mq-fun(xs){
    position: static;
    padding:0;
    margin-bottom: 0;
    height: auto;

    .container {
      background-position: 0 0;
      background-size: 100%;
      padding: 0;
    }

    .header-content {
      .display-4 {
        font-size: 2.5rem;
        margin-left: 10px;
      }

      .lead {
        font-size: 1.5rem;
        margin-left: 10px;
      }
    }
    ////overriding bootstap navbar toggle
    .collapse:not(.show){
        display: block;
        height: 0;
        overflow: hidden;
    }
    .collapse.show{
        height: 175px;
    }
  }
}

.navbar {
  a.navbar-brand,
  a.nav-link {
    color: #fff;
    font-size:18px;
  }
}

button.navbar-toggler{
  display: flex;
  flex-flow: column wrap;
  outline: none;
  .navbar-toggler-icon{
    cursor: pointer;
    height: 5px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 1px;
  }
  &.clicked{
    .hiddenOnClck{
      display: none;
    }
    .nti__first{
      transform:rotate(135deg)translate(7px, -7px);
    }
    .nti__second{
      transform:rotate(45deg);
    }
  }
}