.display-4,
img {
  animation: show-animation .5s linear;
}

.header-faded-backdrop{
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 1;
  pointer-events: none;
}

.jumbotron.header-jumbotron-wrapper-override {
  //position: fixed;
  //width:100%;
  height: 90vh;
  top: 0;
  transition: .1s ease-in all;
  padding: 0;
  z-index: 2;

  .container {
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-image: url(/assets/images/kanyakumari-wave.JPG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  * {
    transition: .25s ease-in all;
  }

  .navbar {
    z-index: 2;
    & > span{
      display: none;
      color : #fff;
      @extend %subheader-res-font;
    }
  }

  .header-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    z-index: 2;

    .display-4 {
      font-family: "Lato";
    }

    .display-4, .lead, .lead-sub-header{
      color: #fff;
      text-shadow: 1px 0px 2px rgba(255, 255, 255, 0.5);
    }

    .lead-wrapper{
      @extend %flex;
      @include mq-fun(xs){
        flex-direction: column;
        .lead{
          margin-bottom: 10px;
          margin-left: 0;
        }
      }
      .lead{
        padding: 5px;
        border:0.001rem solid #fff;
        text-align: center;
        margin-left: 10px;
        transition: .25s background, color, border ease-in;
        cursor: pointer;
        &[active]{
          background-color: #fff;
          color: #000;
        }
        @media screen and (min-width: 600px){
          &:hover{
            background-color: #fff;
            color: #000;
          }
        }
      }
    }

    .lead-sub-header{
      padding-top: 10px;
    }
  }

  &.shrink {
    .container {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }

  @include mq-fun(xs){
    position: static;
    padding:0;
    margin-bottom: 0;
    height: auto;

    .navbar{
      justify-content: flex-start;
      & > span{
        display: block;
      }
    }

    .container {
      background-position: -20px 0;
      background-size: 150%;
      padding: 0;
      background-repeat: repeat;
    }

    .header-content {
      padding: 30px 0;
      .display-4 {
        margin-left: 10px;
      }

    }
    ////overriding bootstap navbar toggle
    .collapse:not(.show){
        display: block;
        height: 0;
        overflow: hidden;
    }
    .collapse.show{
        min-height: 45px;
    }
  }
}

.navbar {
  a.navbar-brand,
  a.nav-link {
    color: #fff;
    font-size:18px;
  }
}

button.navbar-toggler{
  outline: none;
  width:25px;
  height:25px;
  margin-left: -7px;
  margin-top: -3px;
  position: relative;
  .navbar-toggler-icon{
    position: absolute;
    width:100%;
    cursor: pointer;
    height: 5px;
    background-color: #fff;
    border-radius: 1px;
    transform-origin: center;
  }
  .nti__second{
    transform:rotate(90deg);
  }
  &.clicked{
    .nti__first{
      transform:rotate(45deg);
    }
    .nti__second{
      transform:rotate(135deg);
    }
  }
}