////////////////////////////////////////////////////
////Variables and Placeholders
////////////////////////////////////////////////////

$red-shade-1 : #880000;
$red-shade-2 : #ff0000;

@mixin card-background-function($color-1, $color-2) {
  background-image: linear-gradient(to bottom right, #{$color-1}, #{$color-2});
}

%card-open-state {
  background: #fff;
  border: 1px solid $red-shade-1;
}

$helpcard-shadow : 0px -10px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);

///////////////////////////////////////////////////
/// Anaimations
///////////////////////////////////////////////////

@keyframes card-rotate {
  0% {
    transform: rotateY(180deg);
    background-color: $red-shade-1;
  }
  100% {
    transform: rotateY(0deg);
    background: #fff;
    border: 1px solid $red-shade-1;
  }
}

@keyframes card-hide {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(0.5, 0.5);
  }

  100% {
    transform: scale(0, 0);
  }
}

/////////////////////////////////////////////////
///Main CSS
/////////////////////////////////////////////////

.remainder-wrapper,
.remainder-scorecard {
  @extend %card-wrapper;
}

.remainder-wrapper {
  padding: 30px;
  width: 760px;
  z-index: 1;

  @media screen and (max-width:426px) {
    padding: 5px;
    justify-content: center;
    min-height: 520px;
  }
}

.remainder-scorecard {
  flex-wrap: nowrap;
  padding: 20px;
  margin-bottom: 20px;

  @media screen and (max-width:426px) {
    margin-bottom: 10px;
    padding: 10px 20px;
    min-height: 100px;
    justify-content: center;
  }

  .progress {
    height: 30px;
  }
}

.remainder-card {
  @include card-background-function($red-shade-1, $red-shade-2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  width: 50px;
  height: 100px;
  border-radius: 8px 1px;
  border: 1px solid transparent;
  margin: 10px;
  transition: .25s all linear;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 27px 'lato';

  &:hover {
    cursor: pointer;
    @include card-background-function($red-shade-2, $red-shade-1);
  }

  &.rotate {
    animation: card-rotate .5s ease-out;
    @extend %card-open-state;
    transform: rotateY(0deg);

    &:hover {
      cursor: pointer;
      background-image: none;
    }
  }

  &.hide {
    animation: card-hide .25s linear;
    transform: scale(0, 0);
    pointer-events: none;
  }

  @media screen and (max-width:426px) {
    width: calc((100vw / 5) - 18px);
    height: calc((100vh/10) - 25px);
    min-height: 40px;
    margin: 5px;
    font-size: 22px;
    border-radius:8px;
  }
}

.moves-scorecard {
  min-width: 75px;
  height: 100px;
  background-color: whitesmoke;
  border: 1px solid #000;
  margin: 0 auto;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "lato";
  box-shadow: $z-depth-1;
  @media screen and (max-width:426px) {
    font-size: 25px;
    min-width: 60px;
    height: 75px;
  }
}

.scorecard-label {
  align-self: center;
  font-family: "lato";
  font-size: 20px;
  user-select: none;
}

.alerts-container {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-status-container {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.progress-bar {
  transition: width 0.6s, background-color 0.6s ease;
}
.scorecard-help{
  padding: 0 10px 0 20px;
  background: transparent url(/help.png) no-repeat center left / 15px;
  color: #007bff;
  text-decoration: underline;
}

.remainder-mobile-help-card{
  box-shadow : $helpcard-shadow;
  padding: 15px;
  border-radius: 6px;
  position: fixed;
  bottom: 0px;
  left: 10px;
  width : calc(100% - 20px);
  font-size : 20px;
  background-color: #fff;
  transition: transform 0.1s cubic-bezier(0.21, 0.21, 1, 0.55);
  transform: translateY(100%);
  z-index: 10;
  ul{
    padding-left: 25px;
  }
  .rmhc--close{
    padding: 0 10px;
    width : 50%;
    margin:0 auto;
    border-radius: 6px;
    color:#fff;
    text-align: center;
    background-color: #5cb85c;
  }
  &[active]{
    transform: translateY(0%);
    bottom: 10px;
  }
}