<div class="container pt-5">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-fluid" src="/assets/images/profile-picture.jpg">
        </div>
        <div class="col-sm-8">
            <h1 class="display-4 text-center poppins-font"><u>About</u></h1>
            <p>I'm Aravinth Ramesh. <br> I'm a web developer and photography is my passion. I wander around places to take pictures with my DSLR.</p>
        </div>
    </div>
</div>